<form method="post">
    <input name="Title" value="@Model.Title" />
    <input type="checkbox" name="IsCompleted" checked="@Model.IsCompleted" /> Completed
    <input type="hidden" name="Id" value="@Model.Id" />
    <button type="submit">Update</button>
</form>
